NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
CAKTO_WEBHOOK_SECRET=
ACCESS_TOKEN_SECRET=
CAKTO_MONTHLY_OFFER_ID=
CAKTO_ANNUAL_OFFER_ID=
CAKTO_ONE_OFF_OFFER_ID=
